
<h1></h1>

<div class="modal-header text-center">
    <div class="row">
        <h5 class="modal-title">Submit a ticket for IT/SAP Supports</h5>
        <div>
            Hardware & Software Resolve Time is 6 Hours(Outsources work is not included). While SAP issues may require one day to one week, depending upon the type of work.
          </div>
    </div>
  
   
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
 
             <!-- Category and Department Buttons -->
             <div class="row">
              <div class="col-6 mb-2">
                  <div class="btn-group w-100" dropdown>
                      <button id="button-category" dropdownToggle type="button" class="btn btn-primary dropdown-toggle w-100"
                              aria-controls="dropdown-category">
                          Select Category <span class="caret"></span>
                      </button>
                     
                      <ul id="dropdown-category" *dropdownMenu class="dropdown-menu w-100" role="menu" aria-labelledby="button-category">
                          <li *ngFor="let category of categorys" class="list-group-item text-center">    
                             <a class="dropdown-item" >{{category.name}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
  
              <div class="col-6 mb-2">
                  <div class="btn-group w-100" dropdown>
                      <button id="button-department" dropdownToggle type="button" class="btn btn-primary dropdown-toggle w-100"
                              aria-controls="dropdown-department">
                          Select Department <span class="caret"></span>
                      </button>
                      <ul id="dropdown-department" *dropdownMenu class="dropdown-menu w-100" role="menu" aria-labelledby="button-department">
                          <li *ngFor="let department of departments" class="list-group-item text-center">    
                            <a class="dropdown-item" >{{department.name}}</a>
                         </li>
                    
                      </ul>
                  </div>
              </div>
          </div>

          
          <!-- Email -->
          <div class="form-group">
            <label for="dataField1">Enter  Email</label>
            <input type="email" id="dataField1" class="form-control" [(ngModel)]="data.field1" name="field1">
          </div>
         
          <!-- Subject -->
          <div class="form-group">
            <label for="dataField2">Subject</label>
            <input type="text" id="dataField2" class="form-control" [(ngModel)]="data.field2" name="field2">
          </div> 
          <!-- Description -->
          <div class="form-group">
            <label for="dataField2">Description</label>
            <input type="text" id="dataField2" class="form-control" [(ngModel)]="data.field2" name="field2">
          </div> 
          <!-- Phone -->
          <div class="form-group">
            <label for="dataField2">Phone</label>
            <input type="number" id="dataField2" class="form-control" [(ngModel)]="data.field2" name="field2">
          </div> 
          
      <!-- Add more fields as needed -->
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
  